#canvas-area{
    width: 75%;
    margin-right: 5%;
    height: 520px;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}

#draw-canvas,
img,
#marks-canvas-wrap canvas{
    position: absolute;
    border: 1px solid #000;
}

#marks-canvas-wrap canvas,
img{
    z-index: -1;
}
img{
    display: none;
}